############################################################
# Copyright (c) 2016 - 2020 Itspire.
# This software is the proprietary information of Itspire.
# All Right Reserved.
############################################################
# Managed by Composer
/vendor/

# PHPUnit
/phpunit.xml

# Build data
/build/
